nav-menu
section.v-slide.hero.overlay.p-50(layout="column" layout-align="center center" layout-padding style="background-image: url('http://lorempixel.com/1280/800/fashion/4')")
    vid-bg(
        resources='$ctrl.heroVideo.resource',
        poster='$ctrl.heroVideo.poster',
        full-screen='true',
        muted='true'
        play-info='$ctrl.heroVideo.playInfo'
    )
    img.m-b-25(src="assets/images/dc_icon.svg" class="dc-logo")
    img.m-b-20(src="assets/images/design_collective.svg" class="dc-logo-text")
    h2.main-title.text-center.white We Design & Build
    h3.sub-title.text-center.white Sexy and Scalable Multi-Platform Digital Products

md-content
    v-slide(ng-repeat="slideData in $ctrl.data.slides" slide-data="slideData")
    up-next.up-next(next-page='$ctrl.data.upNext')
